.Loyalty{
    color: red;
    font-weight: bold;
}
lightning-card{
    --sds-c-card-color-background: #aadae9d8;
    --sds-c-card-color-border: #aadae9d8;
    --sds-c-button-brand-color-background: purple;
}
.h1{
    color: red;
}